<div th:insert="~{css.html}"></div>
</head>
<header th:fragment="navba">
    <div>
        <a th:href="@{/employees/index}"><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" alt="Logo"></a>
    </div>
    <div class="button-container">
        <a th:href="@{/departments/}">
            <button >Department</button>
        </a>
        <a th:href="@{/employees/}">
            <button>Employee</button>
        </a>
    </div>
    <form class="search-bar" method="get" th:action="@{/employees/show}">
        <input type="text" name="textSearch" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
</header>
