<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title >Danh sach Employee</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Employee List</h1>
    <table style="border: solid black">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>DepartmentName</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.departmentName}"></td>
            <td th:text="${employee.roles}"></td>
            <td><a th:href="@{/employees/edit/{id}(id=${employee.id})}">Edit</a></td>
            <td><a th:href="@{/employees/delete/{id}(id=${employee.id})}">Delete</a></td>
        </tr>
    </table>
    <div>
        <a th:href="@{/employees/add}">Add New Employee</a>
    </div>
</div>
</body>
</html>